#product-edit-page {
	.panel {
		.panel-heading {
			.product-name {
				display: inline-block;
				white-space: nowrap;
				width: 70%;
				overflow: hidden;
				text-overflow: ellipsis;
				margin-bottom: -10px;
			}
		}
	}
}